__pycache__
*~
#*#

/config/*
!/config/compton.conf
!/config/j4status
!/config/redshift.conf

/emacs.d/backup
/emacs.d/elpa
/emacs.d/tramp
/emacs.d/games
/emacs.d/url

/gnupg/*
!/gnupg/*.conf

/i3/scratchpad/lockfile
